/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

:root {
  --cafe-bg-color: rgb(128, 0, 0);
  --amarillo-bg-color: #ffffa7;
  --rosado-bg-color: #faa786;
  --rojo-bg-color: #ff4343;
  --naranja-bg-color: #ff9021;
  --azul-bg-color: #8ee7d2;
  --piel-bg-color: #ffe8bc;

}

/*____________ general _______________*/

.titulo-seccion {
  font-size: 50px;
  font-family: "Nunito Sans", sans-serif;

  color: var(--cafe-bg-color);
  user-select: none;
  text-align: center;
  padding-top: 70px;
}

.descripcion-seccion {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  user-select: none;
  max-width: 900px;
  margin: auto;
}




nav{
    position: relative;
    z-index: 1;
}

.navbar-menu{
    background: #000000;
    height: 50px;
    width: 100%;
    position: fixed;
}

.logo{
    position: absolute;
    color: #FFFFFF;
    font-size: 35px;
    top: 8px;
    left: 5px;
    font-weight: bold;

}

.navbar-menu ul {
    float: right;
    margin-right: 20px;
    list-style: none;
}

.nav-options li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

.nav-options li a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
    position: relative;
    /* border-radius: ; */
}

a:focus, a:hover{
    background-color: #3B7ACF;
    transition: .5s;
}
.checkbtn{
    font-size:25px;
    float: right;
    color: #FFFFFF;
    line-height: 50px;
    margin-right: 25px;
    cursor: pointer;
    display:none
}
#check{
    display: none;
}

section{
    width: 100%;
}

.banner{
    height:97vh;
    position: relative;
    background-color: blue;
}

.banner-content img{
    margin: 5px 0px;
    width: 100%;
    height: 100vh;
}

.banner-text{
    position: absolute;
    color: #151414;
    top: 50%;
    left: 50%;
    transform: translateX(0%) translateY(-45%);
}

.banner-text h2{
    font-size:100px;
}

.banner-text a{
    display: block;
    width: 100px;
    color: #101010;
    text-decoration: none;
    padding:7px;
    margin-top: 10px;
    border: 3px solid;
}

.banner-text a:hover{
  background-color: #F5F2F2;
  color: grey;
}

.banner-text p, a{
    font-size:20px;
    font-weight: bold;
    
}

#section_Recetas {
    height: 100%;
    background-image: linear-gradient(-30deg, #83817e 50%, #e3ddd9 70%);

    font-family: "Raleway", sans-serif;
    background-size: 100% 100%;
    /* clip-path: polygon(0.0% 78.35531444222059%, 0.8059381231705752% 79.16664910987043%, 1.6118412613263986% 79.97313810175919%, 2.4176744294527177% 80.76993574212578%, 3.223414304206365% 81.55240703676392%, 4.029014238901004% 82.31549562835774%, 4.834439248521884% 83.05446118192353%, 5.639666009725834% 83.76456336247762%, 6.444659537498104% 84.44085115348152%, 7.2493848468239435% 85.07858421995155%, 8.053795291017014% 85.67291688612661%, 8.857879208405734% 86.21910881702307%, 9.66157829063218% 86.71220899610239%, 10.46488087602477% 87.1473717476035%, 11.267740317897168% 87.51996207732013%, 12.07012163123462% 87.8250289687138%, 12.872001492693963% 88.0578320868008%, 13.673333255588856% 88.21342041504266%, 14.474093596576132% 88.2870536184557%, 15.274247530641041% 88.27388602127884%, 16.249991253746312% 88.1332560834299%, 16.872596237944748% 87.96871378910777%, 17.670767687840378% 87.67323290845886%, 18.468309407470468% 87.28621089223638%, 19.265256381849778% 86.81080796376277%, 20.06162027264988% 86.25050036869271%, 20.857436064885544% 85.60844833034868%, 21.652738743571504% 84.8879174128305%, 22.447563293722524% 84.0923838617929%, 23.24192137701018% 83.22500790055831%, 24.035847978449233% 82.289160434004%, 24.829378083054426% 81.28810702622985%, 25.62253501416893% 80.22511324133572%, 26.4153537568075% 79.1036553249763%, 27.207857634313303% 77.92678815969663%, 28.00008163170109% 76.69798799115138%, 28.792049072314025% 75.42052038344043%, 29.583783279495286% 74.09765090066365%, 30.375330899931196% 72.7326451069209%, 31.166703595293356% 71.32897924786684%, 31.957948012268076% 69.88981354682397%, 32.74907581252697% 68.41841356789213%, 33.540121981084766% 66.9181502159486%, 34.331121502956236% 65.39239439587064%, 35.122097701484535% 63.84430633098072%, 35.913073900012826% 62.27736226693354%, 36.70409674522747% 60.69472242705151%, 37.495177898800016% 59.09965237543453%, 38.286352345745236% 57.49562835773728%, 39.07765507107789% 55.88581059728221%, 39.86910939814113% 54.27346465816918%, 40.66075031194972% 52.66206678605288%, 41.45258947417523% 51.05488254503319%, 42.244673531504006% 49.455072158432536%, 43.037025807279214% 47.8660065311282%, 43.82966962484402% 46.29105656799748%, 44.622651630884775% 44.73348783314021%, 45.415983487073035% 43.19656589065628%, 46.209700178423574% 41.68355630464553%, 47.003836689951136% 40.19793532076267%, 47.79840468332731% 38.74275782155273%, 48.59345080523842% 37.32160539344781%, 49.38899837902765% 35.93753291899294%, 50.18507072803815% 34.594016643842835%, 50.98171449895628% 33.294216791319926%, 51.49997084582104% 32.47424417992205%, 52.576762953201715% 30.838512588222898%, 53.37516763652902% 29.686611187190564%, 54.174155403435535% 28.587274834088277%, 54.973702930578064% 27.541767618245032%, 55.77379855628506% 26.55177499209944%, 56.574418957213325% 25.6184557042031%, 57.37556413336288% 24.74328452543982%, 58.17721076139054% 23.927736226693355%, 58.97934717962473% 23.17318023807016%, 59.78196172639386% 22.48109133045402%, 60.58504274002635% 21.852628252396514%, 61.38856689717904% 21.28947645633626%, 62.19253419785191% 20.792900031602244%, 62.996909657030244% 20.36437374907827%, 63.80170493638558% 20.005267038870755%, 64.6068850509032% 19.71694933108607%, 65.4124383389115% 19.50089539660803%, 66.2183648004105% 19.358474665543042%, 67.024641112057% 19.291161908774896%, 67.83124395050787% 19.30032655641%, 68.63818497743466% 19.387232697777307%, 69.44542920782266% 19.55346044453809%, 69.91661904817437% 19.687664594964716%, 71.06066401558% 20.129779837775203%, 71.86829308113025% 20.543453070683668%, 72.67557229653299% 21.043716422627213%, 73.48225676668494% 21.63246602759928%, 74.28808993481125% 22.311808701148223%, 75.09279192079393% 23.083851258822307%, 75.89611782952967% 23.950595175392394%, 76.69781110424368% 24.91404192562942%, 77.49760352648948% 25.976509006636476%, 78.29523853949225% 27.139787211629624%, 79.09045958647714% 28.405983356157165%, 79.88301011066928% 29.777309596544825%, 80.67262189362224% 31.255767407563468%, 81.45903837856119% 32.84325292320658%, 82.24200300871127% 34.541978299799865%, 83.02124756562606% 36.35405035289161%, 84.16661030192068% 39.24670810070579%, 84.56758521766511% 40.32602970609924%, 85.33441009434291% 42.48572632466028%, 86.09722335599585% 44.7545559886232%, 86.85623491271238% 47.12651427367535%, 87.61167799792423% 49.595491414726645%, 88.36377418339146% 52.15548298746445%, 89.11274504087416% 54.80027388602128%, 89.85881214213246% 57.5239650268619%, 90.60220872059801% 60.32044664489624%, 91.34314468635935% 63.18360897503423%, 92.08185327284812% 66.10744759296324%, 92.81855605182447% 69.0859580743706%, 93.55346293337688% 72.1128199726114%, 94.28680715093702% 75.18223954492784%, 95.01882193793658% 78.28800168545244%, 95.74971720446409% 81.42410196987254%, 96.47971452227962% 84.58443063309807%, 97.20904712481487% 87.7630885915938%, 97.93793658382992% 90.95375539871485%, 99.9999300299705% 100.0%, 99.9999300299705% 0.005161698093331779%, 0.0% 0.005161698093331779%); */
    /* clip-path: polygon(0.0% 89.1776572211103%, 0.8059381231705752% 89.58332455493522%, 1.6118412613263986% 89.9865690508796%, 2.4176744294527177% 90.38496787106288%, 3.223414304206365% 90.77620351838196%, 4.029014238901004% 91.15774781417886%, 4.834439248521884% 91.52723059096176%, 5.639666009725834% 91.88228168123881%, 6.444659537498104% 92.22042557674075%, 7.2493848468239435% 92.53929210997578%, 8.053795291017014% 92.83645844306331%, 8.857879208405734% 93.10955440851154%, 9.66157829063218% 93.3561044980512%, 10.46488087602477% 93.57368587380175%, 11.267740317897168% 93.75998103866007%, 12.07012163123462% 93.91251448435689%, 12.872001492693963% 94.0289160434004%, 13.673333255588856% 94.10671020752133%, 14.474093596576132% 94.14352680922785%, 15.274247530641041% 94.13694301063941%, 16.249991253746312% 94.06662804171495%, 16.872596237944748% 93.98435689455388%, 17.670767687840378% 93.83661645422943%, 18.468309407470468% 93.6431054461182%, 19.265256381849778% 93.40540398188139%, 20.06162027264988% 93.12525018434636%, 20.857436064885544% 92.80422416517433%, 21.652738743571504% 92.44395870641526%, 22.447563293722524% 92.04619193089646%, 23.24192137701018% 91.61250395027915%, 24.035847978449233% 91.144580217002%, 24.829378083054426% 90.64405351311493%, 25.62253501416893% 90.11255662066786%, 26.4153537568075% 89.55182766248815%, 27.207857634313303% 88.96339407984831%, 28.00008163170109% 88.34899399557568%, 28.792049072314025% 87.71026019172021%, 29.583783279495286% 87.04882545033183%, 30.375330899931196% 86.36632255346045%, 31.166703595293356% 85.66448962393342%, 31.957948012268076% 84.94490677341199%, 32.74907581252697% 84.20920678394607%, 33.540121981084766% 83.4590751079743%, 34.331121502956236% 82.69619719793532%, 35.122097701484535% 81.92215316549036%, 35.913073900012826% 81.13868113346678%, 36.70409674522747% 80.34736121352576%, 37.495177898800016% 79.54982618771726%, 38.286352345745236% 78.74781417886864%, 39.07765507107789% 77.94290529864111%, 39.86910939814113% 77.1367323290846%, 40.66075031194972% 76.33103339302644%, 41.45258947417523% 75.5274412725166%, 42.244673531504006% 74.72753607921626%, 43.037025807279214% 73.9330032655641%, 43.82966962484402% 73.14552828399874%, 44.622651630884775% 72.3667439165701%, 45.415983487073035% 71.59828294532814%, 46.209700178423574% 70.84177815232276%, 47.003836689951136% 70.09896766038133%, 47.79840468332731% 69.37137891077637%, 48.59345080523842% 68.6608026967239%, 49.38899837902765% 67.96876645949646%, 50.18507072803815% 67.29700832192142%, 50.98171449895628% 66.64710839565996%, 51.49997084582104% 66.23712208996102%, 52.576762953201715% 65.41925629411145%, 53.37516763652902% 64.84330559359529%, 54.174155403435535% 64.29363741704414%, 54.973702930578064% 63.770883809122516%, 55.77379855628506% 63.27588749604972%, 56.574418957213325% 62.80922785210155%, 57.37556413336288% 62.37164226271991%, 58.17721076139054% 61.96386811334668%, 58.97934717962473% 61.58659011903508%, 59.78196172639386% 61.24054566522701%, 60.58504274002635% 60.92631412619826%, 61.38856689717904% 60.64473822816813%, 62.19253419785191% 60.39645001580112%, 62.996909657030244% 60.182186874539134%, 63.80170493638558% 60.00263351943538%, 64.6068850509032% 59.858474665543035%, 65.4124383389115% 59.750447698304015%, 66.2183648004105% 59.67923733277152%, 67.024641112057% 59.64558095438745%, 67.83124395050787% 59.650163278205%, 68.63818497743466% 59.69361634888865%, 69.44542920782266% 59.776730222269045%, 69.91661904817437% 59.84383229748236%, 71.06066401558% 60.0648899188876%, 71.86829308113025% 60.271726535341834%, 72.67557229653299% 60.52185821131361%, 73.48225676668494% 60.81623301379964%, 74.28808993481125% 61.15590435057411%, 75.09279192079393% 61.54192562941115%, 75.89611782952967% 61.9752975876962%, 76.69781110424368% 62.45702096281471%, 77.49760352648948% 62.98825450331824%, 78.29523853949225% 63.56989360581481%, 79.09045958647714% 64.20299167807858%, 79.88301011066928% 64.88865479827241%, 80.67262189362224% 65.62788370378173%, 81.45903837856119% 66.4216264616033%, 82.24200300871127% 67.27098914989993%, 83.02124756562606% 68.17702517644581%, 84.16661030192068% 69.6233540503529%, 84.56758521766511% 70.16301485304962%, 85.33441009434291% 71.24286316233014%, 86.09722335599585% 72.3772779943116%, 86.85623491271238% 73.56325713683768%, 87.61167799792423% 74.79774570736332%, 88.36377418339146% 76.07774149373222%, 89.11274504087416% 77.40013694301064%, 89.85881214213246% 78.76198251343095%, 90.60220872059801% 80.16022332244812%, 91.34314468635935% 81.59180448751712%, 92.08185327284812% 83.05372379648162%, 92.81855605182447% 84.54297903718529%, 93.55346293337688% 86.0564099863057%, 94.28680715093702% 87.59111977246393%, 95.01882193793658% 89.14400084272621%, 95.74971720446409% 90.71205098493627%, 96.47971452227962% 92.29221531654903%, 97.20904712481487% 93.8815442957969%, 97.93793658382992% 95.47687769935742%, 99.9999300299705% 100.0%, 99.9999300299705% 50.002580849046666%, 0.0% 50.002580849046666%); */
    clip-path: polygon(
      0% 98.68808520764402%,
      0.8059381231705752% 98.73726134139748%,
      1.6118412613263986% 98.78614377193716%,
      2.4176744294527177% 98.83443879604923%,
      3.223414304206365% 98.88186548022486%,
      4.029014238901004% 98.92811735154531%,
      4.834439248521884% 98.97290709164926%,
      5.639666009725834% 99.01594738217537%,
      6.444659537498104% 99.05693813505738%,
      7.2493848468239435% 99.09559203193396%,
      8.053795291017014% 99.13161536959133%,
      8.857879208405734% 99.16472082966816%,
      9.66157829063218% 99.19460832409817%,
      10.46488087602477% 99.22098414966759%,
      11.267740317897168% 99.24356737286753%,
      12.07012163123462% 99.26205790563175%,
      12.872001492693963% 99.27616842959893%,
      13.673333255588856% 99.28559885670278%,
      14.474093596576132% 99.29006186858199%,
      15.274247530641041% 99.28926376202276%,
      16.249991253746312% 99.2807399839702%,
      16.872596237944748% 99.27076684440605%,
      17.670767687840378% 99.25285733321697%,
      18.468309407470468% 99.22939938522809%,
      19.265256381849778% 99.20058454601369%,
      20.06162027264988% 99.16662351570537%,
      20.857436064885544% 99.12770783987735%,
      21.652738743571504% 99.08403544895633%,
      22.447563293722524% 99.03581704307393%,
      23.24192137701018% 98.9832441678044%,
      24.035847978449233% 98.92652113842686%,
      24.829378083054426% 98.86584588536802%,
      25.62253501416893% 98.80141633905457%,
      26.4153537568075% 98.73344319961814%,
      27.207857634313303% 98.66211162778046%,
      28.00008163170109% 98.5876323236732%,
      28.792049072314025% 98.51020321772302%,
      29.583783279495286% 98.43002224035662%,
      30.375330899931196% 98.34728732200068%,
      31.166703595293356% 98.26220916278686%,
      31.957948012268076% 98.17497930828935%,
      32.74907581252697% 98.08579568893484%,
      33.540121981084766% 97.99486262000251%,
      34.331121502956236% 97.9023844167715%,
      35.122097701484535% 97.80855262481604%,
      35.913073900012826% 97.71357794426777%,
      36.70409674522747% 97.6176519207009%,
      37.495177898800016% 97.52097248454211%,
      38.286352345745236% 97.42375033592305%,
      39.07765507107789% 97.32617702041793%,
      39.86910939814113% 97.22845046845343%,
      40.66075031194972% 97.13078138016121%,
      41.45258947417523% 97.03336768596793%,
      42.244673531504006% 96.93640093144782%,
      43.037025807279214% 96.84008543188004%,
      43.82966962484402% 96.74462550254376%,
      44.622651630884775% 96.65021907386566%,
      45.415983487073035% 96.55706407627243%,
      46.209700178423574% 96.46535844019076%,
      47.003836689951136% 96.37531286575228%,
      47.79840468332731% 96.28711251367875%,
      48.59345080523842% 96.20097446895426%,
      49.38899837902765% 96.11708389230057%,
      50.18507072803815% 96.03565148384929%,
      50.98171449895628% 95.95686878917466%,
      51.49997084582104% 95.90716909751833%,
      52.576762953201715% 95.80802510830466%,
      53.37516763652902% 95.73820674650328%,
      54.174155403435535% 95.67157442608637%,
      54.973702930578064% 95.60820476528356%,
      55.77379855628506% 95.54819992173448%,
      56.574418957213325% 95.49163012881631%,
      57.37556413336288% 95.4385847744637%,
      58.17721076139054% 95.38915324661129%,
      58.97934717962473% 95.34341854834122%,
      59.78196172639386% 95.30147006758813%,
      60.58504274002635% 95.26337803772924%,
      61.38856689717904% 95.22924461640413%,
      62.19253419785191% 95.19914642184247%,
      62.996909657030244% 95.17317284197892%,
      63.80170493638558% 95.15140687989563%,
      64.6068850509032% 95.13393153867474%,
      65.4124383389115% 95.12083620625091%,
      66.2183648004105% 95.1122038857063%,
      67.024641112057% 95.1081239649755%,
      67.83124395050787% 95.10867944714073%,
      68.63818497743466% 95.11394695043164%,
      69.44542920782266% 95.12402224763535%,
      69.91661904817437% 95.13215654968701%,
      71.06066401558% 95.15895377551969%,
      71.86829308113025% 95.18402709118445%,
      72.67557229653299% 95.21434875558268%,
      73.48225676668494% 95.25003369605894%,
      74.28808993481125% 95.29120960966269%,
      75.09279192079393% 95.33800419344341%,
      75.89611782952967% 95.39053875959812%,
      76.69781110424368% 95.44893462032378%,
      77.49760352648948% 95.51333224237487%,
      78.29523853949225% 95.58384016824341%,
      79.09045958647714% 95.6605860949789%,
      79.88301011066928% 95.74370410448326%,
      80.67262189362224% 95.83331550895352%,
      81.45903837856119% 95.92953523573418%,
      82.24200300871127% 96.03249736672721%,
      83.02124756562606% 96.1423295989821%,
      84.16661030192068% 96.31765764791356%,
      84.56758521766511% 96.38307684636047%,
      85.33441009434291% 96.51397909177899%,
      86.09722335599585% 96.65149604436043%,
      86.85623491271238% 96.79526376751373%,
      87.61167799792423% 96.94491193979543%,
      88.36377418339146% 97.10007662461454%,
      89.11274504087416% 97.26038111567507%,
      89.85881214213246% 97.42546786123852%,
      90.60220872059801% 97.59496653986137%,
      91.34314468635935% 97.76850683010016%,
      92.08185327284812% 97.94572479536389%,
      92.81855605182447% 98.12625649906153%,
      93.55346293337688% 98.30971885004465%,
      94.28680715093702% 98.49576068142721%,
      95.01882193793658% 98.68400528691325%,
      95.74971720446409% 98.87408872991173%,
      96.47971452227962% 99.06564068897922%,
      97.20904712481487% 99.25830361237713%,
      97.93793658382992% 99.45169440895708%,
      99.9999300299705% 100%,
      99.9999300299705% 0%,
      0% 0%
    );
  }
  
  #section_Recetas .receta {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    font-size: 22px;
    text-align: center;
    font-family: "Luckiest Guy", sans-serif;
    font-family: "Paytone One", sans-serif;
    color: #202222;
  }
  
  #section_Recetas .receta:hover {
    font-size: 25px;
    transition: 0.5s;
  }
  
  /* estilos materialize carousel*/
  .carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 95vh;
    -webkit-perspective: 500px;
            perspective: 500px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: 10% 50%;
            transform-origin: 10% 50%;
  }
  .carousel .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      user-select: none;
      visibility: hidden;
      width: 200px;
      height: 200px;
      position: absolute;
      left: 0;
    }
    
  
  .carousel.carousel-slider {
    top: 0;
    left: 0;
    height: 100%;
    min-height: 400px;
    position: absolute;
  }
  
  .carousel .carousel-fixed-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1;
  }
  
  .carousel.carousel-fixed-item.with-indicators {
    bottom: 68px;
  }
  
  
  .carousel.carousel-slider .carousel-item h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }
  
  .carousel .carousel-slider .carousel-item p{
    font-size: 10px;
  }
  
  
  
  .carousel .carousel-item > img{
    width: 400px;
    height: 400px;
    padding:30px;
  }
  
  .carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 100px 10px;
    background-color: rgb(88, 168, 34);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
  }
  
  .carousel .indicators .indicator-item.active {
    background-color: #000000;
  }
  
  .carousel.scrolling .carousel-item .materialboxed,
  .carousel .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
  }

  .testimonios{
    height:94vh;
    position: relative;
    background-image: url(../img/fondo_4.png);
    background-size: cover;
    background-attachment: fixed;
    color: #F5F2F2;
  }

  .testimonios-content{
    width: 100%;
    height: 100%;
    padding:30px 0;
    text-align: center;
  }

  .testimonios-content h2{
    font-size: 40px;
    color: black;
    font-weight: bold;
  }

  .testimonios-content h3{
    font-size:55px;
    text-transform: uppercase;
  }

  .testimonios-content p, .testimonios-content h3, .testimonios-content h2{
    padding: 10px 50px;
  }

  .testimonios-content p{
    color: black;
    font-weight: bold;
    
  }

  .testimonios-group{
    width: 100%;
    box-sizing: border-box;
    margin-top:100px;
    padding: 0 50px;
  }

  .testimonios-card{
    width: 33.3%;
    float: left;
  }


  .img-perfil{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #FFF;
  }

  .contacto{
    height:95vh;
    position: relative;
  }

  .contacto-content{
    width: 100%;
    height: 100%;
    padding: 30px 0;
    text-align: center;
  }

.contacto-content h2{
  font-size:45px;
  text-transform: uppercase;
}

.contacto-content p, .contacto-content h2{
  padding:10px 50px;
}

.contacto-group{
  width: 100%;
  box-sizing: border-box;
  margin-top:30px;
  padding: 0 50px;
}


.form-contact{
  width: 50%;
  float: left;
}

.form-control{
 width: 85%; 
 padding: 0.8rem;
 margin: 0.6rem 1rem;
 display: block;
 font-size: 1rem;
 outline: 0;
 border-radius: 5px;
 border: 1.5px solid #2f6df3;
}

.send-btn{
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  background: #80b827;
  color: #FFF;
  border: none;
  padding:0.7rem 1.5rem;
  margin: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.contacto-img{
  width:50%;
  float: left;

}

.contacto-img img{
  width: 45%;
  display: block;
}


/* 

  @media screen and (max-width: 280px) {
    #section_Recetas {
      min-height: 100vh;
      background-image: linear-gradient(-30deg, #e3ddd9 50%, #ffc964 50%);
      font-family: "Raleway", sans-serif;
      background-size: 100% 100%;
    }
    .titulo {
      font-size: 20px;
      font-family: "Dancing Script", cursive;
      margin-bottom: 40px;
      color: rgb(10, 1, 1);
      user-select: none;
    }
    .container {
      width: 10px;
      height: 10px;
    }
    .receta {
      color: rgb(253, 253, 253);
      font-size: 20px;
      font-weight: 600;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
      font-family: "Dancing Script", cursive;
    }
  
    .linea-division {
      width: 80%;
      height: 1px;
      background-color: #36221c;
    }

    .carousel {
      width: 50px;
      background-color: #87430d;
      min-height: 50px;
    }
    .carousel .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      user-select: none;
      width: 200px;
      height: 200px;
    }
    .carousel .carousel-item img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 15px;
    }
    .carousel .indicators .indicator-item {
      border-radius: 0;
      transform: rotate(45deg);
      margin: 0 15px;
      background: black;
    }
  } */
  
  @media screen and (max-width: 320px) {
    #section_Recetas {
      min-height: 100vh;
      background-image: linear-gradient(-30deg, #747474 50%, #d484bf 50%);
      font-family: "Raleway", sans-serif;
      background-size: 100% 100%;
    }
    .titulo {
      font-size: 40px;
      font-family: "Dancing Script", cursive;
      margin-bottom: 40px;
      color: #fff;
      user-select: none;
    }
    .subtitulo {
      margin: 0;
      color: #000;
      display: inline;
      font-size: 50px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .receta {
      color: #fff;
      margin: 7px 0;
      font-size: 50px;
      font-weight: 600;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
      font-family: "Dancing Script", cursive;
      margin-top: 0;
    }
    .linea-division {
      width: 80%;
      height: 2px;
      background-color: #36221c;
    }
   
    .carousel {
      min-height: 500px;
    }
    .carousel .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      user-select: none;
      width: 500px;
      height: 500px;
    }
    .carousel .carousel-item img {
      display: inline;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 15px;
    }
    .carousel .indicators .indicator-item {
      border-radius: 0;
      transform: rotate(45deg);
      margin: 0 15px;
      background: black;
    }
  }
  

  @media screen and (max-width: 540px) {

    .carousel {
      min-height: 500px;
    }
    .carousel .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      user-select: none;
      width: 500px;
      height: 500px;
    }
    .carousel .carousel-item img {
      display: inline;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 15px;
    }
    .carousel .indicators .indicator-item {
      border-radius: 0;
      transform: rotate(45deg);
      margin: 0 15px;
      background: black;
    }
  }
  

@media(max-width:1024px){

    .logo{
        padding-left: 40px;
    }

    .nav-options li a{
        font-size:16px;
        padding: 7px 10px;
    }

    .banner{
      height: 89vh;
    }

    .banner-content img{
      margin-top:50px;
    }

    .testimonios-card p{
      font-size: 13px;
    }

    .img-perfil{
      width: 150px;
      height: 150px;
    }
}

@media(max-width: 768px) {
    .checkbtn{
        display: block;
    }

    .nav-options{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #21427F;
        top:50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .nav-options li{
        display:block;
        border-bottom:1px solid #F4F0F0;
        z-index: 1;
    }

    .nav-options li a{
        font-size:18px;
    }

    nav li:hover{
        background-color: #EEEAEA ;
    }

    nav li a:hover{
        color: #2F2E2E;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .banner{
      height: 55vh;
    }

    .banner h2{
      font-size: 30px;
    }

    .banner p{
      font-size: 14px;
    }

    .banner-text a{
      font-size: 14px;
      width: 60px;
    }

    .testimonios{
      height:200vh;
    }

    .testimonios-card{
      width:100%;
      margin-bottom:20px;
    }
}